In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('D:\\DS Study\\Data scientist salary.csv')
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim,Degree
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),53,91,72.0,NM,48,data scientist,M
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),63,112,87.5,MD,37,data scientist,M
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),80,90,85.0,FL,11,data scientist,M
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),56,97,76.5,WA,56,data scientist,na
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,86,143,114.5,NY,23,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),58,111,84.5,MA,191,other scientist,M
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 - 5000,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),72,133,102.5,TN,15,data engineer,na
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 - 1000,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,56,91,73.5,PA,37,other scientist,P
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",Jan-50,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),95,160,127.5,PA,-1,data scientist,na
741,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 - 1000,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),61,126,93.5,OH,54,other scientist,M

# How many rows and coluns data have?

In [3]:
df.shape

(742, 20)

In [4]:
print('Total no of rows: ',df.shape[0],'\nTotal no of columns: ',df.shape[1])

Total no of rows:  742
Total no of columns:  20

# Give short info about data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          742 non-null    object
 1   Salary Estimate    742 non-null    object
 2   Job Description    742 non-null    object
 3   Rating             742 non-null    float64
 4   Company Name       742 non-null    object
 5   Location           742 non-null    object
 6   Headquarters       742 non-null    object
 7   Size               742 non-null    object
 8   Founded            742 non-null    int64
 9   Type of ownership  742 non-null    object
 10  Industry           742 non-null    object
 11  Sector             742 non-null    object
 12  Revenue            742 non-null    object
 13  Lower Salary       742 non-null    int64
 14  Upper Salary       742 non-null    int64
 15  Avg Salary(K)      742 non-null    float64
 16  Job Location       742 non-null    object
 17  Age                742 non-null    int64
 18  job_title_sim      742 non-null    object
 19  Degree             742 non-null    object
dtypes: float64(2), int64(4), object(14)
memory usage: 116.1+ KB

#  Show all columns name of data

In [6]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Lower Salary',
       'Upper Salary', 'Avg Salary(K)', 'Job Location', 'Age', 'job_title_sim',
       'Degree'],
      dtype='object')

# Check for missing entries

In [7]:
df.isna().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Lower Salary         0
Upper Salary         0
Avg Salary(K)        0
Job Location         0
Age                  0
job_title_sim        0
Degree               0
dtype: int64

* But in Revenue column unknown or not applicable entries are more so will check for reveue column

In [8]:
df.Revenue.value_counts()

Unknown / Non-Applicable            204
$10+ billion (USD)                  124
$100 to $500 million (USD)           91
$1 to $2 billion (USD)               60
$500 million to $1 billion (USD)     57
$50 to $100 million (USD)            46
$25 to $50 million (USD)             40
$2 to $5 billion (USD)               39
$10 to $25 million (USD)             32
$5 to $10 billion (USD)              19
$5 to $10 million (USD)              18
$1 to $5 million (USD)                8
Less than $1 million (USD)            4
Name: Revenue, dtype: int64

* Same for degree column unknown na is there so check for degree column

In [9]:
df.Degree.value_counts()

na    383
M     252
P     107
Name: Degree, dtype: int64

* so we skip Revenue and Degree column

In [10]:
df.drop(labels =['Revenue','Degree'],axis = 1,inplace=True)
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,53,91,72.0,NM,48,data scientist
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,63,112,87.5,MD,37,data scientist
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,80,90,85.0,FL,11,data scientist
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,86,143,114.5,NY,23,data scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,"Sr Scientist, Immuno-Oncology - Oncology",$58K-$111K (Glassdoor est.),Site Name: USA - Massachusetts - Cambridge\nPo...,3.9,GSK\n3.9,"Cambridge, MA","Brentford, United Kingdom",10000+,1830,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,58,111,84.5,MA,191,other scientist
738,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 - 5000,2006,Company - Public,Internet,Information Technology,72,133,102.5,TN,15,data engineer
739,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 - 1000,1984,College / University,Colleges & Universities,Education,56,91,73.5,PA,37,other scientist
740,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",Jan-50,-1,Company - Private,Staffing & Outsourcing,Business Services,95,160,127.5,PA,-1,data scientist
741,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 - 1000,1967,Nonprofit Organization,Federal Agencies,Government,61,126,93.5,OH,54,other scientist

# how many total post are available?

In [11]:
df['Job Title'].nunique()

264

# which types posts are there?

In [12]:
df['Job Title'].unique()

array(['Data Scientist', 'Healthcare Data Scientist',
       'Research Scientist', 'Staff Data Scientist - Technology',
       'Data Analyst', 'Data Engineer I', 'Scientist I/II, Biology',
       'Customer Data Scientist',
       'Data Scientist - Health Data Analytics',
       'Senior Data Scientist / Machine Learning',
       'Data Scientist - Quantitative', 'Digital Health Data Scientist',
       'Associate Data Analyst', 'Clinical Data Scientist',
       'Data Scientist / Machine Learning Expert', 'Web Data Analyst',
       'Senior Data Scientist', 'Data Engineer',
       'Data Scientist - Algorithms & Inference', 'Scientist',
       'Lead Data Scientist', 'Spectral Scientist/Engineer',
       'College Hire - Data Scientist - Open to December 2019 Graduates',
       'Data Scientist, Office of Data Science', 'Data Science Analyst',
       'Senior Risk Data Scientist',
       'Data Scientist in Artificial Intelligence Early Career',
       'Data Scientist - Research', 'R&D Data Analysis Scientist',
       'Analytics Consultant', 'Director, Data Science',
       'Data Scientist SR', 'R&D Sr Data Scientist',
       'Customer Data Scientist/Sales Engineer (Bay',
       'Jr. Business Data Analyst', 'Data Management Specialist',
       'E-Commerce Data Analyst', 'Sr. Scientist II',
       'Insurance Data Scientist', 'Data Modeler',
       'Data Analyst / Scientist', 'Data Scientist, Rice University',
       'Financial Data Analyst', 'Senior Data Analyst',
       'Ag Data Scientist', 'Data Scientist II', 'Senior Data Engineer',
       'Project Scientist', 'Data Analytics Manager',
       'Senior Machine Learning (ML) Engineer / Data Scientist - Cyber Security Analytics',
       'Associate Scientist', 'Scientist 2, QC Viral Vector',
       'Machine Learning Engineer', 'Data Scientist/ML Engineer',
       'Sr. Data Scientist', 'Data Engineer 4 - Contract',
       'Data Analyst - Asset Management',
       'Senior Research Scientist - Embedded System Development for DevOps',
       'Data Scientist - Bioinformatics',
       'Customer Data Scientist/Sales Engineer',
       'MongoDB Data Engineer II', 'Senior Data Scientist Statistics',
       'Senior Spark Engineer (Data Science)',
       'BI & Platform Analytics Manager',
       'Sr. Data Scientist - Analytics, Personalized Healthcare (PHC)',
       'Pricipal Scientist Molecular and cellular biologist',
       'Data Scientist (Actuary, FSA or ASA)', 'Staff Data Scientist',
       'Data Engineer 5 - Contract (Remote)',
       'Senior Scientist - Neuroscience', 'Medical Lab Scientist',
       'Risk and Analytics IT, Data Scientist',
       'Scientist, Analytical Development', 'Analytics Manager',
       'Digital Marketing & ECommerce Data Analyst',
       'Sr. Scientist - Digital & Image Analysis/Computational Pathology',
       'Principal Scientist - Immunologist',
       'Principal Data Scientist with over 10 years experience',
       'MED TECH/LAB SCIENTIST - LABORATORY',
       'Sr. Scientist, Quantitative Translational Sciences',
       'Sr. Data Scientist II', 'Excel / VBA / SQL Data Analyst',
       'Machine Learning Research Scientist', 'VP, Data Science',
       'Radar Data Analyst', 'PL Actuarial-Lead Data Scientist',
       'PV Scientist', 'Senior Data & Machine Learning Scientist',
       'Principal Data Scientist (Computational Chemistry)',
       'Principal Scientist, Chemistry & Immunology',
       'Software Engineer - Data Visualization',
       'Scientist/Senior Scientist, Autoimmune',
       'Staff Machine Learning Engineer',
       'Principal Scientist, Hematology', 'Lead Data Engineer',
       'Marketing Data Analyst', 'Medical Laboratory Scientist',
       'R&D Specialist/ Food Scientist',
       'Senior Research Scientist-Machine Learning',
       'Analytics Manager - Data Mart',
       'Sr. Data Engineer - Contract-to-Hire (Java)',
       'MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB',
       'Food Scientist - Developer',
       'Staff Scientist-Downstream Process Development',
       'Sr. Data Engineer',
       'Senior Research Statistician- Data Scientist',
       'Business Data Analyst, SQL',
       'Medical Technologist / Clinical Laboratory Scientist',
       'Associate Data Scientist/Computer Scientist',
       'Business Intelligence Analyst / Developer',
       'System and Data Analyst', 'Data & Analytics Consultant (NYC)',
       'Big Data Engineer - Chicago - Future Opportunity',
       'Survey Data Analyst', 'Lead Health Data Analyst - Front End',
       'Junior Data Analyst', 'SQL Data Engineer',
       'Sr. Data Scientist, Cyber-Security LT Contract',
       'Insurance Financial Data Analyst', 'Data Engineer I - Azure',
       'Information Security Data Analyst', 'Data Scientist, Senior',
       'CONSULTANT– DATA ANALYTICS GROUP',
       'Data Engineer, Data Engineering and Artifical Intelligence',
       'Staff Scientist',
       'Associate Scientist/Scientist, Process Analytical Technology - Small Molecule Analytical Chemistry',
       'Sr. Data Analyst', 'Program/Data Analyst',
       'Senior Data Scientist: Causal & Predictive analytics AI Innovation Lab',
       'Principal Data Engineer, Data Platform & Insights',
       'RESEARCH SCIENTIST - BIOLOGICAL SAFETY', 'Data Operations Lead',
       'Big Data Engineer', 'Clinical Data Analyst',
       'Computational Chemist/Data Scientist',
       'Product Engineer – Data Science', 'Market Data Analyst',
       'Staff Data Engineer', 'Associate Data Engineer',
       'Staff BI and Data Engineer',
       'Director - Data, Privacy and AI Governance',
       'Scientist Manufacturing - Kentucky BioProcessing',
       'Data Analytics Project Manager',
       'Consultant - Analytics Consulting',
       'Senior Scientist (Neuroscience)',
       'Machine Learning Engineer - Regulatory',
       'Scientist, Bacteriology',
       'Associate Director, Platform and DevOps- Data Engineering and Aritifical Intelligence',
       'Clinical Laboratory Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Director II, Data Science - GRM Actuarial',
       'Scientist, Molecular/Cellular Biologist',
       'Scientist - Analytical Services',
       'Associate Data Analyst- Graduate Development Program',
       'Senior Insurance Data Scientist',
       'Senior Data Science Systems Engineer',
       'ENVIRONMENTAL ENGINEER/SCIENTIST',
       'Senior Scientist - Regulatory Submissions',
       'Scientist - Biomarker and Flow Cytometry',
       'Revenue Analytics Manager',
       'Associate Scientist, LC/MS Biologics',
       'Sr. Scientist Method Development', 'IT - Data Engineer II',
       'Research Scientist, Immunology - Cancer Biology',
       'Project Scientist - Auton Lab, Robotics Institute',
       'Enterprise Architect, Data',
       'Senior Manager, Epidemiologic Data Scientist',
       'Corporate Risk Data Analyst (SQL Based) - Milwaukee or',
       'Marketing Data Analyst, May 2020 Undergrad',
       'Data Modeler - Data Solutions Engineer',
       'Associate Environmental Scientist - Wildlife Biologist',
       'Associate, Data Science, Internal Audit',
       'Sr Data Engineer (Sr BI Developer)',
       'Senior LiDAR Data Scientist', 'Salesforce Analytics Consultant',
       'Technology-Minded, Data Professional Opportunities',
       'Managing Data Scientist/ML Engineer',
       'Scientist, Pharmacometrics', 'Staff Scientist- Upstream PD',
       'Scientist Manufacturing Pharma - Kentucky BioProcessing',
       'Lead Big Data Engineer',
       'Product Engineer – Spatial Data Science and Statistical Analysis',
       'Sr Software Engineer (Data Scientist)',
       'Sr. Data Engineer (ETL Developer)',
       'Senior Data Scientist Artificial Intelligence',
       'Analytics - Business Assurance Data Analyst',
       'Associate Director/Director, Safety Scientist',
       'Senior Scientist, Cell Pharmacology/Assay Development',
       'Data Analyst Senior', 'Lead Data Engineer (Python)',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Medical Lab Scientist - MLT',
       'Senior Operations Data Analyst, Call Center Operations',
       'Director II, Data Science - GRS Predictive Analytics',
       'RESEARCH COMPUTER SCIENTIST - RESEARCH ENGINEER - SR. COMPUTER SCIENTIST - SOFTWARE DEVELOPMENT',
       'Geospatial Software Developer and Data Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Systems Engineer II - Data Analyst',
       'Senior Research Analytical Scientist-Non-Targeted Analysis',
       'Director Data Science', 'Sr Data Analyst - IT',
       'Associate Machine Learning Engineer / Data Scientist May 2020 Undergrad',
       'Senior Scientist - Biostatistician',
       'Principal Machine Learning Scientist',
       'Data Analyst, Performance Partnership', 'Data Scientist Manager',
       'Software Data Engineer - College',
       'Senior Data Scientist - Algorithms',
       'Senior Data Scientist Oncology', 'Principal Data Scientist',
       'Data Scientist - Alpha Insights',
       'Associate Principal Scientist, Pharmacogenomics',
       'Data Scientist - Systems Engineering',
       'Data Engineer - Consultant (Charlotte Based)',
       'Data Analyst 1, full-time contract worker for up to 12 months',
       'Scientist, Immuno-Oncology', 'Products Data Analyst II',
       'Lead Data Analyst', 'Data Science Engineer - Mobile',
       'Sr Expert Data Science, Advanced Visual Analytics (Associate level)',
       'IT Associate Data Analyst', 'Business Data Analyst',
       'Data Scientist - Sales',
       'Principal, Data Science - Advanced Analytics',
       'Data Science Project Manager',
       'Sr Scientist, Immuno-Oncology - Oncology',
       'Research Scientist – Security and Privacy',
       'Data Science Manager', 'Data Analyst 2 (Missionary Department)',
       'Supply Chain Data Analyst', 'Data Engineer - ETL',
       'Data Modeler (Analytical Systems)',
       'Data Scientist in Translational Medicine',
       'Product Manager/Data Evangelist',
       'Senior Data Scientist – Visualization, Novartis AI Innovation Lab',
       'Senior Data Analyst/Scientist',
       'Scientist – Cancer Discovery, Molecular Assay',
       'Data Engineering Analyst', 'Manager of Data Science',
       'Software Engineer (Data Scientist/Software Engineer) - SISW - MG',
       'Associate Research Scientist I (Protein Expression and Production)',
       'Director, Precision Medicine Clinical Biomarker Scientist',
       'Senior Formulations Scientist II', 'Senior Quantitative Analyst',
       'Research Scientist or Senior Research Scientist - Computer Vision',
       'Data Analyst Chemist - Quality System Contractor',
       'Research Scientist / Principal Research Scientist - Multiphysical Systems',
       'Research Scientist, Machine Learning Department',
       'Foundational Community Supports Data Analyst',
       'Senior Health Data Analyst, Star Ratings',
       'Principal Research Scientist/Team Lead, Medicinal Chemistry - Oncology',
       'Senior Engineer, Data Management Engineering',
       'Quality Control Scientist III- Analytical Development',
       'Clinical Scientist, Clinical Development',
       'Software Engineer Staff Scientist: Human Language Technologies',
       'Manager, Safety Scientist, Medical Safety & Risk Management',
       'Assistant Director/Director, Office of Data Science',
       'Sr. Data Engineer | Big Data SaaS Pipeline',
       'Scientist - CVRM Metabolism - in vivo pharmacology',
       'Data Scientist (Warehouse Automation)', 'Jr. Data Scientist',
       'Data Architect / Data Modeler',
       'Associate Scientist / Sr. Associate Scientist, Antibody Discovery',
       'Machine Learning Engineer (NLP)'], dtype=object)

#   job available for 'Data Scientist'

In [13]:
df.groupby('Job Title').get_group('Data Scientist')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,53,91,72.0,NM,48,data scientist
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,80,90,85.0,FL,11,data scientist
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,86,143,114.5,NY,23,data scientist
5,Data Scientist,$71K-$119K (Glassdoor est.),CyrusOne is seeking a talented Data Scientist ...,3.4,CyrusOne\n3.4,"Dallas, TX","Dallas, TX",201 - 500,2000,Company - Public,Real Estate,Real Estate,71,119,95.0,TX,21,data scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,Data Scientist,$77K-$132K (Glassdoor est.),"Crossix is seeking intellectually curious, res...",3.5,Crossix Solutions\n3.5,"New York, NY","New York, NY",201 - 500,2005,Company - Public,Advertising & Marketing,Business Services,77,132,104.5,NY,16,data scientist
685,Data Scientist,$51K-$88K (Glassdoor est.),Job Description Header 2 Data scientist Locati...,4.3,Solugenix Corporation\n4.3,"Phoenix, AZ","Brea, CA",201 - 500,1969,Company - Private,IT Services,Information Technology,51,88,69.5,AZ,52,data scientist
686,Data Scientist,$101K-$141K (Glassdoor est.),American Career College and West Coast Univers...,2.6,West Coast University\n2.6,"Irvine, CA","Irvine, CA",10000+,1997,Company - Private,Colleges & Universities,Education,101,141,121.0,CA,24,data scientist
700,Data Scientist,$65K-$113K (Glassdoor est.),DatamanUSA has an exciting opportunity for a D...,3.4,"DatamanUSA, LLC\n3.4","Olympia, WA","Centennial, CO",51 - 200,-1,Company - Private,IT Services,Information Technology,65,113,89.0,WA,-1,data scientist
714,Data Scientist,$96K-$161K (Glassdoor est.),SummaryProvide data management and statistical...,3.2,"Numeric, LLC\n3.2","Philadelphia, PA","Chadds Ford, PA",Jan-50,-1,Company - Private,Staffing & Outsourcing,Business Services,96,161,128.5,PA,-1,data scientist

# how many companies are availabe

In [14]:
df['Company Name'].nunique()

343

# Make a group for salary estimte & show the group wise lower to higher salary estimation

In [15]:
a=df['Salary Estimate'].unique()
a.sort()
print(a)

['$10-$17 Per Hour(Glassdoor est.)' '$100K-$160K (Glassdoor est.)'
 '$100K-$166K (Glassdoor est.)' '$100K-$173K (Glassdoor est.)'
 '$100K-$190K (Glassdoor est.)' '$101K-$141K (Glassdoor est.)'
 '$101K-$158K (Glassdoor est.)' '$102K-$163K (Glassdoor est.)'
 '$102K-$164K (Glassdoor est.)' '$102K-$165K (Glassdoor est.)'
 '$102K-$172K (Glassdoor est.)' '$102K-$178K (Glassdoor est.)'
 '$102K-$190K (Glassdoor est.)' '$105K-$173K (Glassdoor est.)'
 '$105K-$194K (Glassdoor est.)' '$105K-$198K (Glassdoor est.)'
 '$106K-$172K (Glassdoor est.)' '$107K-$172K (Glassdoor est.)'
 '$107K-$173K (Glassdoor est.)' '$108K-$146K (Glassdoor est.)'
 '$108K-$171K (Glassdoor est.)' '$108K-$173K (Glassdoor est.)'
 '$108K-$176K (Glassdoor est.)' '$109K-$177K (Glassdoor est.)'
 '$109K-$200K (Glassdoor est.)' '$110K-$150K(Employer est.)'
 '$110K-$174K (Glassdoor est.)' '$110K-$175K (Glassdoor est.)'
 '$110K-$184K (Glassdoor est.)' '$111K-$176K (Glassdoor est.)'
 '$111K-$183K (Glassdoor est.)' '$112K-$179K (Glassdoor est.)'
 '$112K-$182K (Glassdoor est.)' '$113K-$182K (Glassdoor est.)'
 '$113K-$196K (Glassdoor est.)' '$113K-$223K (Glassdoor est.)'
 '$114K-$179K (Glassdoor est.)' '$114K-$182K (Glassdoor est.)'
 '$115K-$180K (Glassdoor est.)' '$115K-$220K (Glassdoor est.)'
 '$116K-$185K (Glassdoor est.)' '$116K-$194K (Glassdoor est.)'
 '$116K-$208K (Glassdoor est.)' '$116K-$209K (Glassdoor est.)'
 '$117K-$206K (Glassdoor est.)' '$117K-$231K (Glassdoor est.)'
 '$118K-$188K (Glassdoor est.)' '$118K-$189K (Glassdoor est.)'
 '$118K-$228K (Glassdoor est.)' '$119K-$187K (Glassdoor est.)'
 '$120K-$160K (Glassdoor est.)' '$120K-$189K (Glassdoor est.)'
 '$121K-$193K (Glassdoor est.)' '$121K-$203K (Glassdoor est.)'
 '$124K-$199K (Glassdoor est.)' '$124K-$204K (Glassdoor est.)'
 '$125K-$210K (Glassdoor est.)' '$126K-$201K (Glassdoor est.)'
 '$126K-$228K (Glassdoor est.)' '$127K-$199K (Glassdoor est.)'
 '$127K-$202K (Glassdoor est.)' '$129K-$215K (Glassdoor est.)'
 '$130K-$206K (Glassdoor est.)' '$130K-$208K (Glassdoor est.)'
 '$131K-$207K (Glassdoor est.)' '$132K-$211K (Glassdoor est.)'
 '$135K-$211K (Glassdoor est.)' '$136K-$208K (Glassdoor est.)'
 '$138K-$224K (Glassdoor est.)' '$139K-$220K (Glassdoor est.)'
 '$139K-$221K (Glassdoor est.)' '$15-$25 Per Hour(Glassdoor est.)'
 '$150K-$180K (Glassdoor est.)' '$150K-$238K (Glassdoor est.)'
 '$150K-$239K (Glassdoor est.)' '$158K-$211K (Glassdoor est.)'
 '$15K-$16K(Employer est.)' '$17-$24 Per Hour(Glassdoor est.)'
 '$171K-$272K (Glassdoor est.)' '$176K-$289K (Glassdoor est.)'
 '$18-$25 Per Hour(Glassdoor est.)' '$190K-$220K(Employer est.)'
 '$200K-$275K(Employer est.)' '$202K-$306K (Glassdoor est.)'
 '$20K-$39K (Glassdoor est.)' '$21-$29 Per Hour(Glassdoor est.)'
 '$21-$34 Per Hour(Glassdoor est.)' '$24-$39 Per Hour(Glassdoor est.)'
 '$26K-$55K (Glassdoor est.)' '$27-$47 Per Hour(Glassdoor est.)'
 '$27K-$48K (Glassdoor est.)' '$29K-$50K (Glassdoor est.)'
 '$31K-$55K (Glassdoor est.)' '$31K-$57K (Glassdoor est.)'
 '$31K-$65K (Glassdoor est.)' '$31K-$72K (Glassdoor est.)'
 '$32K-$57K (Glassdoor est.)' '$32K-$59K (Glassdoor est.)'
 '$32K-$62K (Glassdoor est.)' '$33K-$61K (Glassdoor est.)'
 '$33K-$62K (Glassdoor est.)' '$33K-$72K (Glassdoor est.)'
 '$34K-$61K (Glassdoor est.)' '$34K-$62K (Glassdoor est.)'
 '$34K-$64K (Glassdoor est.)' '$34K-$92K (Glassdoor est.)'
 '$35K-$62K (Glassdoor est.)' '$35K-$65K (Glassdoor est.)'
 '$36K-$62K (Glassdoor est.)' '$36K-$71K (Glassdoor est.)'
 '$37K-$100K (Glassdoor est.)' '$37K-$63K (Glassdoor est.)'
 '$37K-$66K (Glassdoor est.)' '$37K-$68K (Glassdoor est.)'
 '$37K-$76K (Glassdoor est.)' '$38K-$64K (Glassdoor est.)'
 '$38K-$82K (Glassdoor est.)' '$38K-$84K (Glassdoor est.)'
 '$38K-$85K (Glassdoor est.)' '$39K-$66K (Glassdoor est.)'
 '$39K-$67K (Glassdoor est.)' '$39K-$68K (Glassdoor est.)'
 '$39K-$69K (Glassdoor est.)' '$39K-$71K (Glassdoor est.)'
 '$39K-$82K (Glassdoor est.)' '$40K-$101K (Glassdoor est.)'
 '$40K-$68K (Glassdoor est.)' '$40K-$73K (Glassdoor est.)'
 '$40K-$87K (Glassdoor est.)' '$41K-$72K (Glassdoor est.)'
 '$41K-$95K (Glassdoor est.)' '$42K-$74K (Glassdoor est.)'
 '$42K-$76K (Glassdoor est.)' '$42K-$77K (Glassdoor est.)'
 '$42K-$79K (Glassdoor est.)' '$42K-$80K (Glassdoor est.)'
 '$42K-$82K (Glassdoor est.)' '$42K-$86K (Glassdoor est.)'
 '$43K-$77K (Glassdoor est.)' '$43K-$80K (Glassdoor est.)'
 '$43K-$81K (Glassdoor est.)' '$43K-$82K (Glassdoor est.)'
 '$43K-$86K (Glassdoor est.)' '$43K-$88K (Glassdoor est.)'
 '$43K-$98K (Glassdoor est.)' '$44K-$73K (Glassdoor est.)'
 '$44K-$78K (Glassdoor est.)' '$44K-$86K (Glassdoor est.)'
 '$44K-$96K (Glassdoor est.)' '$45K-$78K (Glassdoor est.)'
 '$45K-$82K (Glassdoor est.)' '$45K-$86K (Glassdoor est.)'
 '$46K-$85K (Glassdoor est.)' '$47K-$101K (Glassdoor est.)'
 '$47K-$85K (Glassdoor est.)' '$48K-$113K (Glassdoor est.)'
 '$48K-$85K (Glassdoor est.)' '$48K-$90K (Glassdoor est.)'
 '$48K-$93K (Glassdoor est.)' '$48K-$95K (Glassdoor est.)'
 '$49K-$113K (Glassdoor est.)' '$49K-$76K (Glassdoor est.)'
 '$49K-$85K (Glassdoor est.)' '$49K-$97K (Glassdoor est.)'
 '$50K-$102K (Glassdoor est.)' '$50K-$110K (Glassdoor est.)'
 '$50K-$89K (Glassdoor est.)' '$50K-$92K (Glassdoor est.)'
 '$50K-$98K (Glassdoor est.)' '$51K-$112K (Glassdoor est.)'
 '$51K-$88K (Glassdoor est.)' '$52K-$101K (Glassdoor est.)'
 '$52K-$113K (Glassdoor est.)' '$52K-$81K (Glassdoor est.)'
 '$52K-$85K (Glassdoor est.)' '$52K-$89K (Glassdoor est.)'
 '$52K-$91K (Glassdoor est.)' '$52K-$93K (Glassdoor est.)'
 '$52K-$99K (Glassdoor est.)' '$53K-$105K (Glassdoor est.)'
 '$53K-$91K (Glassdoor est.)' '$53K-$92K (Glassdoor est.)'
 '$53K-$96K (Glassdoor est.)' '$54K-$101K (Glassdoor est.)'
 '$54K-$102K (Glassdoor est.)' '$54K-$115K (Glassdoor est.)'
 '$54K-$71K (Glassdoor est.)' '$54K-$92K (Glassdoor est.)'
 '$54K-$93K (Glassdoor est.)' '$55K-$100K (Glassdoor est.)'
 '$55K-$105K (Glassdoor est.)' '$55K-$116K (Glassdoor est.)'
 '$55K-$97K (Glassdoor est.)' '$55K-$98K (Glassdoor est.)'
 '$55K-$99K (Glassdoor est.)' '$56K-$117K (Glassdoor est.)'
 '$56K-$91K (Glassdoor est.)' '$56K-$95K (Glassdoor est.)'
 '$56K-$97K (Glassdoor est.)' '$56K-$99K (Glassdoor est.)'
 '$57K-$109K (Glassdoor est.)' '$57K-$118K (Glassdoor est.)'
 '$57K-$80K (Glassdoor est.)' '$58K-$104K (Glassdoor est.)'
 '$58K-$108K (Glassdoor est.)' '$58K-$111K (Glassdoor est.)'
 '$59K-$110K (Glassdoor est.)' '$59K-$112K (Glassdoor est.)'
 '$59K-$115K (Glassdoor est.)' '$59K-$116K (Glassdoor est.)'
 '$59K-$125K (Glassdoor est.)' '$60K-$101K (Glassdoor est.)'
 '$60K-$102K (Glassdoor est.)' '$60K-$103K (Glassdoor est.)'
 '$60K-$114K (Glassdoor est.)' '$60K-$123K (Glassdoor est.)'
 '$60K-$127K (Glassdoor est.)' '$60K-$99K (Glassdoor est.)'
 '$61K-$100K (Glassdoor est.)' '$61K-$106K (Glassdoor est.)'
 '$61K-$109K (Glassdoor est.)' '$61K-$110K (Glassdoor est.)'
 '$61K-$113K (Glassdoor est.)' '$61K-$118K (Glassdoor est.)'
 '$61K-$119K (Glassdoor est.)' '$61K-$123K (Glassdoor est.)'
 '$61K-$126K (Glassdoor est.)' '$62K-$112K (Glassdoor est.)'
 '$62K-$113K (Glassdoor est.)' '$62K-$114K (Glassdoor est.)'
 '$62K-$119K (Glassdoor est.)' '$63K-$101K (Glassdoor est.)'
 '$63K-$105K (Glassdoor est.)' '$63K-$110K (Glassdoor est.)'
 '$63K-$111K (Glassdoor est.)' '$63K-$112K (Glassdoor est.)'
 '$63K-$120K (Glassdoor est.)' '$63K-$127K (Glassdoor est.)'
 '$63K-$99K (Glassdoor est.)' '$64K-$106K (Glassdoor est.)'
 '$64K-$107K (Glassdoor est.)' '$64K-$108K (Glassdoor est.)'
 '$64K-$111K (Glassdoor est.)' '$64K-$112K (Glassdoor est.)'
 '$65K-$106K (Glassdoor est.)' '$65K-$110K (Glassdoor est.)'
 '$65K-$113K (Glassdoor est.)' '$65K-$119K (Glassdoor est.)'
 '$65K-$120K (Glassdoor est.)' '$65K-$124K (Glassdoor est.)'
 '$65K-$125K (Glassdoor est.)' '$65K-$126K (Glassdoor est.)'
 '$65K-$130K (Glassdoor est.)' '$65K-$134K (Glassdoor est.)'
 '$65K-$148K (Glassdoor est.)' '$65K-$96K (Glassdoor est.)'
 '$66K-$111K (Glassdoor est.)' '$66K-$112K (Glassdoor est.)'
 '$66K-$117K (Glassdoor est.)' '$66K-$123K (Glassdoor est.)'
 '$67K-$117K (Glassdoor est.)' '$67K-$119K (Glassdoor est.)'
 '$67K-$127K (Glassdoor est.)' '$67K-$135K (Glassdoor est.)'
 '$67K-$137K (Glassdoor est.)' '$68K-$112K (Glassdoor est.)'
 '$68K-$114K (Glassdoor est.)' '$68K-$123K (Glassdoor est.)'
 '$68K-$125K (Glassdoor est.)' '$68K-$129K (Glassdoor est.)'
 '$68K-$139K (Glassdoor est.)' '$69K-$119K (Glassdoor est.)'
 '$69K-$121K (Glassdoor est.)' '$69K-$127K (Glassdoor est.)'
 '$70K-$118K (Glassdoor est.)' '$70K-$122K (Glassdoor est.)'
 '$70K-$132K (Glassdoor est.)' '$71K-$119K (Glassdoor est.)'
 '$71K-$121K (Glassdoor est.)' '$71K-$123K (Glassdoor est.)'
 '$71K-$124K (Glassdoor est.)' '$71K-$129K (Glassdoor est.)'
 '$71K-$134K (Glassdoor est.)' '$71K-$135K (Glassdoor est.)'
 '$71K-$136K (Glassdoor est.)' '$71K-$144K (Glassdoor est.)'
 '$71K-$204K (Glassdoor est.)' '$72K-$117K (Glassdoor est.)'
 '$72K-$120K (Glassdoor est.)' '$72K-$121K (Glassdoor est.)'
 '$72K-$123K (Glassdoor est.)' '$72K-$129K (Glassdoor est.)'
 '$72K-$133K (Glassdoor est.)' '$72K-$142K (Glassdoor est.)'
 '$73K-$119K (Glassdoor est.)' '$73K-$124K (Glassdoor est.)'
 '$74K-$119K (Glassdoor est.)' '$74K-$122K (Glassdoor est.)'
 '$74K-$123K (Glassdoor est.)' '$74K-$124K (Glassdoor est.)'
 '$74K-$126K (Glassdoor est.)' '$74K-$137K (Glassdoor est.)'
 '$74K-$138K (Glassdoor est.)' '$74K-$140K (Glassdoor est.)'
 '$74K-$149K (Glassdoor est.)' '$75K-$124K (Glassdoor est.)'
 '$75K-$125K (Glassdoor est.)' '$75K-$126K (Glassdoor est.)'
 '$75K-$127K (Glassdoor est.)' '$75K-$140K (Glassdoor est.)'
 '$75K-$143K (Glassdoor est.)' '$76K-$125K (Glassdoor est.)'
 '$76K-$126K (Glassdoor est.)' '$76K-$127K (Glassdoor est.)'
 '$76K-$140K (Glassdoor est.)' '$76K-$142K (Glassdoor est.)'
 '$76K-$145K (Glassdoor est.)' '$77K-$124K (Glassdoor est.)'
 '$77K-$132K (Glassdoor est.)' '$77K-$135K (Glassdoor est.)'
 '$77K-$136K (Glassdoor est.)' '$78K-$126K (Glassdoor est.)'
 '$78K-$147K (Glassdoor est.)' '$79K-$127K (Glassdoor est.)'
 '$79K-$134K (Glassdoor est.)' '$79K-$136K (Glassdoor est.)'
 '$79K-$147K (Glassdoor est.)' '$79K-$222K (Glassdoor est.)'
 '$80K-$105K(Employer est.)' '$80K-$120K (Glassdoor est.)'
 '$80K-$129K (Glassdoor est.)' '$80K-$130K (Glassdoor est.)'
 '$80K-$133K (Glassdoor est.)' '$80K-$134K (Glassdoor est.)'
 '$80K-$135K (Glassdoor est.)' '$80K-$139K (Glassdoor est.)'
 '$80K-$142K (Glassdoor est.)' '$80K-$148K (Glassdoor est.)'
 '$80K-$155K (Glassdoor est.)' '$80K-$90K (Glassdoor est.)'
 '$81K-$130K (Glassdoor est.)' '$81K-$132K (Glassdoor est.)'
 '$81K-$133K (Glassdoor est.)' '$81K-$134K (Glassdoor est.)'
 '$81K-$140K (Glassdoor est.)' '$81K-$159K (Glassdoor est.)'
 '$81K-$161K (Glassdoor est.)' '$81K-$167K (Glassdoor est.)'
 '$82K-$129K(Employer est.)' '$82K-$132K (Glassdoor est.)'
 '$82K-$133K (Glassdoor est.)' '$83K-$133K (Glassdoor est.)'
 '$83K-$135K (Glassdoor est.)' '$83K-$137K (Glassdoor est.)'
 '$83K-$144K (Glassdoor est.)' '$83K-$148K (Glassdoor est.)'
 '$83K-$166K (Glassdoor est.)' '$84K-$136K (Glassdoor est.)'
 '$84K-$146K (Glassdoor est.)' '$84K-$153K (Glassdoor est.)'
 '$84K-$157K (Glassdoor est.)' '$85K-$134K (Glassdoor est.)'
 '$85K-$139K (Glassdoor est.)' '$85K-$140K (Glassdoor est.)'
 '$85K-$142K (Glassdoor est.)' '$85K-$159K (Glassdoor est.)'
 '$86K-$137K (Glassdoor est.)' '$86K-$139K (Glassdoor est.)'
 '$86K-$141K (Glassdoor est.)' '$86K-$142K (Glassdoor est.)'
 '$86K-$143K (Glassdoor est.)' '$86K-$144K (Glassdoor est.)'
 '$87K-$140K (Glassdoor est.)' '$87K-$141K (Glassdoor est.)'
 '$87K-$158K (Glassdoor est.)' '$88K-$148K (Glassdoor est.)'
 '$88K-$162K (Glassdoor est.)' '$89K-$144K (Glassdoor est.)'
 '$89K-$153K (Glassdoor est.)' '$90K-$110K(Employer est.)'
 '$90K-$153K (Glassdoor est.)' '$90K-$157K (Glassdoor est.)'
 '$90K-$179K (Glassdoor est.)' '$91K-$138K (Glassdoor est.)'
 '$91K-$148K (Glassdoor est.)' '$91K-$149K (Glassdoor est.)'
 '$91K-$159K (Glassdoor est.)' '$92K-$146K (Glassdoor est.)'
 '$92K-$149K (Glassdoor est.)' '$92K-$150K (Glassdoor est.)'
 '$93K-$149K (Glassdoor est.)' '$93K-$151K (Glassdoor est.)'
 '$94K-$139K (Glassdoor est.)' '$94K-$153K (Glassdoor est.)'
 '$94K-$154K (Glassdoor est.)' '$94K-$162K (Glassdoor est.)'
 '$95K-$154K (Glassdoor est.)' '$95K-$160K (Glassdoor est.)'
 '$95K-$161K (Glassdoor est.)' '$95K-$173K (Glassdoor est.)'
 '$96K-$161K (Glassdoor est.)' '$97K-$160K (Glassdoor est.)'
 '$97K-$180K (Glassdoor est.)' '$97K-$181K (Glassdoor est.)'
 '$98K-$182K (Glassdoor est.)' '$99K-$157K (Glassdoor est.)'
 '$99K-$178K (Glassdoor est.)' 'Employer Provided Salary:$100K-$135K'
 'Employer Provided Salary:$100K-$140K'
 'Employer Provided Salary:$110K-$130K'
 'Employer Provided Salary:$120K-$140K'
 'Employer Provided Salary:$120K-$145K'
 'Employer Provided Salary:$150K-$160K'
 'Employer Provided Salary:$200K-$250K'
 'Employer Provided Salary:$25-$28 Per Hour'
 'Employer Provided Salary:$85K-$90K']

## Group by per Hour

In [16]:
for i in a:
    if 'Per Hour' in i:
        b=print(i)

$10-$17 Per Hour(Glassdoor est.)
$15-$25 Per Hour(Glassdoor est.)
$17-$24 Per Hour(Glassdoor est.)
$18-$25 Per Hour(Glassdoor est.)
$21-$29 Per Hour(Glassdoor est.)
$21-$34 Per Hour(Glassdoor est.)
$24-$39 Per Hour(Glassdoor est.)
$27-$47 Per Hour(Glassdoor est.)
Employer Provided Salary:$25-$28 Per Hour

## Groupby Employer

In [17]:
for i in a:
    if 'Employer' in i:
        print(i)

$110K-$150K(Employer est.)
$15K-$16K(Employer est.)
$190K-$220K(Employer est.)
$200K-$275K(Employer est.)
$80K-$105K(Employer est.)
$82K-$129K(Employer est.)
$90K-$110K(Employer est.)
Employer Provided Salary:$100K-$135K
Employer Provided Salary:$100K-$140K
Employer Provided Salary:$110K-$130K
Employer Provided Salary:$120K-$140K
Employer Provided Salary:$120K-$145K
Employer Provided Salary:$150K-$160K
Employer Provided Salary:$200K-$250K
Employer Provided Salary:$25-$28 Per Hour
Employer Provided Salary:$85K-$90K

## Groupby direct Glassdoor est.

In [18]:
for i in a:
    if 'Per Hour'not in i:
        if 'Employer'not in i:
            print(i)

$100K-$160K (Glassdoor est.)
$100K-$166K (Glassdoor est.)
$100K-$173K (Glassdoor est.)
$100K-$190K (Glassdoor est.)
$101K-$141K (Glassdoor est.)
$101K-$158K (Glassdoor est.)
$102K-$163K (Glassdoor est.)
$102K-$164K (Glassdoor est.)
$102K-$165K (Glassdoor est.)
$102K-$172K (Glassdoor est.)
$102K-$178K (Glassdoor est.)
$102K-$190K (Glassdoor est.)
$105K-$173K (Glassdoor est.)
$105K-$194K (Glassdoor est.)
$105K-$198K (Glassdoor est.)
$106K-$172K (Glassdoor est.)
$107K-$172K (Glassdoor est.)
$107K-$173K (Glassdoor est.)
$108K-$146K (Glassdoor est.)
$108K-$171K (Glassdoor est.)
$108K-$173K (Glassdoor est.)
$108K-$176K (Glassdoor est.)
$109K-$177K (Glassdoor est.)
$109K-$200K (Glassdoor est.)
$110K-$174K (Glassdoor est.)
$110K-$175K (Glassdoor est.)
$110K-$184K (Glassdoor est.)
$111K-$176K (Glassdoor est.)
$111K-$183K (Glassdoor est.)
$112K-$179K (Glassdoor est.)
$112K-$182K (Glassdoor est.)
$113K-$182K (Glassdoor est.)
$113K-$196K (Glassdoor est.)
$113K-$223K (Glassdoor est.)
$114K-$179K (Glassdoor est.)
$114K-$182K (Glassdoor est.)
$115K-$180K (Glassdoor est.)
$115K-$220K (Glassdoor est.)
$116K-$185K (Glassdoor est.)
$116K-$194K (Glassdoor est.)
$116K-$208K (Glassdoor est.)
$116K-$209K (Glassdoor est.)
$117K-$206K (Glassdoor est.)
$117K-$231K (Glassdoor est.)
$118K-$188K (Glassdoor est.)
$118K-$189K (Glassdoor est.)
$118K-$228K (Glassdoor est.)
$119K-$187K (Glassdoor est.)
$120K-$160K (Glassdoor est.)
$120K-$189K (Glassdoor est.)
$121K-$193K (Glassdoor est.)
$121K-$203K (Glassdoor est.)
$124K-$199K (Glassdoor est.)
$124K-$204K (Glassdoor est.)
$125K-$210K (Glassdoor est.)
$126K-$201K (Glassdoor est.)
$126K-$228K (Glassdoor est.)
$127K-$199K (Glassdoor est.)
$127K-$202K (Glassdoor est.)
$129K-$215K (Glassdoor est.)
$130K-$206K (Glassdoor est.)
$130K-$208K (Glassdoor est.)
$131K-$207K (Glassdoor est.)
$132K-$211K (Glassdoor est.)
$135K-$211K (Glassdoor est.)
$136K-$208K (Glassdoor est.)
$138K-$224K (Glassdoor est.)
$139K-$220K (Glassdoor est.)
$139K-$221K (Glassdoor est.)
$150K-$180K (Glassdoor est.)
$150K-$238K (Glassdoor est.)
$150K-$239K (Glassdoor est.)
$158K-$211K (Glassdoor est.)
$171K-$272K (Glassdoor est.)
$176K-$289K (Glassdoor est.)
$202K-$306K (Glassdoor est.)
$20K-$39K (Glassdoor est.)
$26K-$55K (Glassdoor est.)
$27K-$48K (Glassdoor est.)
$29K-$50K (Glassdoor est.)
$31K-$55K (Glassdoor est.)
$31K-$57K (Glassdoor est.)
$31K-$65K (Glassdoor est.)
$31K-$72K (Glassdoor est.)
$32K-$57K (Glassdoor est.)
$32K-$59K (Glassdoor est.)
$32K-$62K (Glassdoor est.)
$33K-$61K (Glassdoor est.)
$33K-$62K (Glassdoor est.)
$33K-$72K (Glassdoor est.)
$34K-$61K (Glassdoor est.)
$34K-$62K (Glassdoor est.)
$34K-$64K (Glassdoor est.)
$34K-$92K (Glassdoor est.)
$35K-$62K (Glassdoor est.)
$35K-$65K (Glassdoor est.)
$36K-$62K (Glassdoor est.)
$36K-$71K (Glassdoor est.)
$37K-$100K (Glassdoor est.)
$37K-$63K (Glassdoor est.)
$37K-$66K (Glassdoor est.)
$37K-$68K (Glassdoor est.)
$37K-$76K (Glassdoor est.)
$38K-$64K (Glassdoor est.)
$38K-$82K (Glassdoor est.)
$38K-$84K (Glassdoor est.)
$38K-$85K (Glassdoor est.)
$39K-$66K (Glassdoor est.)
$39K-$67K (Glassdoor est.)
$39K-$68K (Glassdoor est.)
$39K-$69K (Glassdoor est.)
$39K-$71K (Glassdoor est.)
$39K-$82K (Glassdoor est.)
$40K-$101K (Glassdoor est.)
$40K-$68K (Glassdoor est.)
$40K-$73K (Glassdoor est.)
$40K-$87K (Glassdoor est.)
$41K-$72K (Glassdoor est.)
$41K-$95K (Glassdoor est.)
$42K-$74K (Glassdoor est.)
$42K-$76K (Glassdoor est.)
$42K-$77K (Glassdoor est.)
$42K-$79K (Glassdoor est.)
$42K-$80K (Glassdoor est.)
$42K-$82K (Glassdoor est.)
$42K-$86K (Glassdoor est.)
$43K-$77K (Glassdoor est.)
$43K-$80K (Glassdoor est.)
$43K-$81K (Glassdoor est.)
$43K-$82K (Glassdoor est.)
$43K-$86K (Glassdoor est.)
$43K-$88K (Glassdoor est.)
$43K-$98K (Glassdoor est.)
$44K-$73K (Glassdoor est.)
$44K-$78K (Glassdoor est.)
$44K-$86K (Glassdoor est.)
$44K-$96K (Glassdoor est.)
$45K-$78K (Glassdoor est.)
$45K-$82K (Glassdoor est.)
$45K-$86K (Glassdoor est.)
$46K-$85K (Glassdoor est.)
$47K-$101K (Glassdoor est.)
$47K-$85K (Glassdoor est.)
$48K-$113K (Glassdoor est.)
$48K-$85K (Glassdoor est.)
$48K-$90K (Glassdoor est.)
$48K-$93K (Glassdoor est.)
$48K-$95K (Glassdoor est.)
$49K-$113K (Glassdoor est.)
$49K-$76K (Glassdoor est.)
$49K-$85K (Glassdoor est.)
$49K-$97K (Glassdoor est.)
$50K-$102K (Glassdoor est.)
$50K-$110K (Glassdoor est.)
$50K-$89K (Glassdoor est.)
$50K-$92K (Glassdoor est.)
$50K-$98K (Glassdoor est.)
$51K-$112K (Glassdoor est.)
$51K-$88K (Glassdoor est.)
$52K-$101K (Glassdoor est.)
$52K-$113K (Glassdoor est.)
$52K-$81K (Glassdoor est.)
$52K-$85K (Glassdoor est.)
$52K-$89K (Glassdoor est.)
$52K-$91K (Glassdoor est.)
$52K-$93K (Glassdoor est.)
$52K-$99K (Glassdoor est.)
$53K-$105K (Glassdoor est.)
$53K-$91K (Glassdoor est.)
$53K-$92K (Glassdoor est.)
$53K-$96K (Glassdoor est.)
$54K-$101K (Glassdoor est.)
$54K-$102K (Glassdoor est.)
$54K-$115K (Glassdoor est.)
$54K-$71K (Glassdoor est.)
$54K-$92K (Glassdoor est.)
$54K-$93K (Glassdoor est.)
$55K-$100K (Glassdoor est.)
$55K-$105K (Glassdoor est.)
$55K-$116K (Glassdoor est.)
$55K-$97K (Glassdoor est.)
$55K-$98K (Glassdoor est.)
$55K-$99K (Glassdoor est.)
$56K-$117K (Glassdoor est.)
$56K-$91K (Glassdoor est.)
$56K-$95K (Glassdoor est.)
$56K-$97K (Glassdoor est.)
$56K-$99K (Glassdoor est.)
$57K-$109K (Glassdoor est.)
$57K-$118K (Glassdoor est.)
$57K-$80K (Glassdoor est.)
$58K-$104K (Glassdoor est.)
$58K-$108K (Glassdoor est.)
$58K-$111K (Glassdoor est.)
$59K-$110K (Glassdoor est.)
$59K-$112K (Glassdoor est.)
$59K-$115K (Glassdoor est.)
$59K-$116K (Glassdoor est.)
$59K-$125K (Glassdoor est.)
$60K-$101K (Glassdoor est.)
$60K-$102K (Glassdoor est.)
$60K-$103K (Glassdoor est.)
$60K-$114K (Glassdoor est.)
$60K-$123K (Glassdoor est.)
$60K-$127K (Glassdoor est.)
$60K-$99K (Glassdoor est.)
$61K-$100K (Glassdoor est.)
$61K-$106K (Glassdoor est.)
$61K-$109K (Glassdoor est.)
$61K-$110K (Glassdoor est.)
$61K-$113K (Glassdoor est.)
$61K-$118K (Glassdoor est.)
$61K-$119K (Glassdoor est.)
$61K-$123K (Glassdoor est.)
$61K-$126K (Glassdoor est.)
$62K-$112K (Glassdoor est.)
$62K-$113K (Glassdoor est.)
$62K-$114K (Glassdoor est.)
$62K-$119K (Glassdoor est.)
$63K-$101K (Glassdoor est.)
$63K-$105K (Glassdoor est.)
$63K-$110K (Glassdoor est.)
$63K-$111K (Glassdoor est.)
$63K-$112K (Glassdoor est.)
$63K-$120K (Glassdoor est.)
$63K-$127K (Glassdoor est.)
$63K-$99K (Glassdoor est.)
$64K-$106K (Glassdoor est.)
$64K-$107K (Glassdoor est.)
$64K-$108K (Glassdoor est.)
$64K-$111K (Glassdoor est.)
$64K-$112K (Glassdoor est.)
$65K-$106K (Glassdoor est.)
$65K-$110K (Glassdoor est.)
$65K-$113K (Glassdoor est.)
$65K-$119K (Glassdoor est.)
$65K-$120K (Glassdoor est.)
$65K-$124K (Glassdoor est.)
$65K-$125K (Glassdoor est.)
$65K-$126K (Glassdoor est.)
$65K-$130K (Glassdoor est.)
$65K-$134K (Glassdoor est.)
$65K-$148K (Glassdoor est.)
$65K-$96K (Glassdoor est.)
$66K-$111K (Glassdoor est.)
$66K-$112K (Glassdoor est.)
$66K-$117K (Glassdoor est.)
$66K-$123K (Glassdoor est.)
$67K-$117K (Glassdoor est.)
$67K-$119K (Glassdoor est.)
$67K-$127K (Glassdoor est.)
$67K-$135K (Glassdoor est.)
$67K-$137K (Glassdoor est.)
$68K-$112K (Glassdoor est.)
$68K-$114K (Glassdoor est.)
$68K-$123K (Glassdoor est.)
$68K-$125K (Glassdoor est.)
$68K-$129K (Glassdoor est.)
$68K-$139K (Glassdoor est.)
$69K-$119K (Glassdoor est.)
$69K-$121K (Glassdoor est.)
$69K-$127K (Glassdoor est.)
$70K-$118K (Glassdoor est.)
$70K-$122K (Glassdoor est.)
$70K-$132K (Glassdoor est.)
$71K-$119K (Glassdoor est.)
$71K-$121K (Glassdoor est.)
$71K-$123K (Glassdoor est.)
$71K-$124K (Glassdoor est.)
$71K-$129K (Glassdoor est.)
$71K-$134K (Glassdoor est.)
$71K-$135K (Glassdoor est.)
$71K-$136K (Glassdoor est.)
$71K-$144K (Glassdoor est.)
$71K-$204K (Glassdoor est.)
$72K-$117K (Glassdoor est.)
$72K-$120K (Glassdoor est.)
$72K-$121K (Glassdoor est.)
$72K-$123K (Glassdoor est.)
$72K-$129K (Glassdoor est.)
$72K-$133K (Glassdoor est.)
$72K-$142K (Glassdoor est.)
$73K-$119K (Glassdoor est.)
$73K-$124K (Glassdoor est.)
$74K-$119K (Glassdoor est.)
$74K-$122K (Glassdoor est.)
$74K-$123K (Glassdoor est.)
$74K-$124K (Glassdoor est.)
$74K-$126K (Glassdoor est.)
$74K-$137K (Glassdoor est.)
$74K-$138K (Glassdoor est.)
$74K-$140K (Glassdoor est.)
$74K-$149K (Glassdoor est.)
$75K-$124K (Glassdoor est.)
$75K-$125K (Glassdoor est.)
$75K-$126K (Glassdoor est.)
$75K-$127K (Glassdoor est.)
$75K-$140K (Glassdoor est.)
$75K-$143K (Glassdoor est.)
$76K-$125K (Glassdoor est.)
$76K-$126K (Glassdoor est.)
$76K-$127K (Glassdoor est.)
$76K-$140K (Glassdoor est.)
$76K-$142K (Glassdoor est.)
$76K-$145K (Glassdoor est.)
$77K-$124K (Glassdoor est.)
$77K-$132K (Glassdoor est.)
$77K-$135K (Glassdoor est.)
$77K-$136K (Glassdoor est.)
$78K-$126K (Glassdoor est.)
$78K-$147K (Glassdoor est.)
$79K-$127K (Glassdoor est.)
$79K-$134K (Glassdoor est.)
$79K-$136K (Glassdoor est.)
$79K-$147K (Glassdoor est.)
$79K-$222K (Glassdoor est.)
$80K-$120K (Glassdoor est.)
$80K-$129K (Glassdoor est.)
$80K-$130K (Glassdoor est.)
$80K-$133K (Glassdoor est.)
$80K-$134K (Glassdoor est.)
$80K-$135K (Glassdoor est.)
$80K-$139K (Glassdoor est.)
$80K-$142K (Glassdoor est.)
$80K-$148K (Glassdoor est.)
$80K-$155K (Glassdoor est.)
$80K-$90K (Glassdoor est.)
$81K-$130K (Glassdoor est.)
$81K-$132K (Glassdoor est.)
$81K-$133K (Glassdoor est.)
$81K-$134K (Glassdoor est.)
$81K-$140K (Glassdoor est.)
$81K-$159K (Glassdoor est.)
$81K-$161K (Glassdoor est.)
$81K-$167K (Glassdoor est.)
$82K-$132K (Glassdoor est.)
$82K-$133K (Glassdoor est.)
$83K-$133K (Glassdoor est.)
$83K-$135K (Glassdoor est.)
$83K-$137K (Glassdoor est.)
$83K-$144K (Glassdoor est.)
$83K-$148K (Glassdoor est.)
$83K-$166K (Glassdoor est.)
$84K-$136K (Glassdoor est.)
$84K-$146K (Glassdoor est.)
$84K-$153K (Glassdoor est.)
$84K-$157K (Glassdoor est.)
$85K-$134K (Glassdoor est.)
$85K-$139K (Glassdoor est.)
$85K-$140K (Glassdoor est.)
$85K-$142K (Glassdoor est.)
$85K-$159K (Glassdoor est.)
$86K-$137K (Glassdoor est.)
$86K-$139K (Glassdoor est.)
$86K-$141K (Glassdoor est.)
$86K-$142K (Glassdoor est.)
$86K-$143K (Glassdoor est.)
$86K-$144K (Glassdoor est.)
$87K-$140K (Glassdoor est.)
$87K-$141K (Glassdoor est.)
$87K-$158K (Glassdoor est.)
$88K-$148K (Glassdoor est.)
$88K-$162K (Glassdoor est.)
$89K-$144K (Glassdoor est.)
$89K-$153K (Glassdoor est.)
$90K-$153K (Glassdoor est.)
$90K-$157K (Glassdoor est.)
$90K-$179K (Glassdoor est.)
$91K-$138K (Glassdoor est.)
$91K-$148K (Glassdoor est.)
$91K-$149K (Glassdoor est.)
$91K-$159K (Glassdoor est.)
$92K-$146K (Glassdoor est.)
$92K-$149K (Glassdoor est.)
$92K-$150K (Glassdoor est.)
$93K-$149K (Glassdoor est.)
$93K-$151K (Glassdoor est.)
$94K-$139K (Glassdoor est.)
$94K-$153K (Glassdoor est.)
$94K-$154K (Glassdoor est.)
$94K-$162K (Glassdoor est.)
$95K-$154K (Glassdoor est.)
$95K-$160K (Glassdoor est.)
$95K-$161K (Glassdoor est.)
$95K-$173K (Glassdoor est.)
$96K-$161K (Glassdoor est.)
$97K-$160K (Glassdoor est.)
$97K-$180K (Glassdoor est.)
$97K-$181K (Glassdoor est.)
$98K-$182K (Glassdoor est.)
$99K-$157K (Glassdoor est.)
$99K-$178K (Glassdoor est.)

# companies which are having above 4.0 rating

In [20]:
df[df.Rating >= 4.0][['Company Name','Rating']]

                Company Name  Rating
2               KnowBe4\n4.8     4.8
6    ClearOne Advantage\n4.1     4.1
9              <intent>\n4.6     4.6
11              ManTech\n4.1     4.1
13               Yesler\n4.1     4.1
..                       ...     ...
716             23andMe\n4.0     4.0
718    Moser Consulting\n4.5     4.5
727               HOVER\n4.8     4.8
732    CK-12 Foundation\n4.1     4.1
738          Eventbrite\n4.4     4.4

[219 rows x 2 columns]

# top 20 locations which are having more no of companies

In [21]:
df.Location.value_counts().head(20)

New York, NY               55
San Francisco, CA          49
Cambridge, MA              47
Chicago, IL                32
Boston, MA                 23
San Jose, CA               13
Pittsburgh, PA             12
Washington, DC             11
Rockville, MD              11
Winston-Salem, NC          10
Richland, WA               10
Herndon, VA                10
Indianapolis, IN            9
San Diego, CA               9
Mountain View, CA           8
Austin, TX                  8
South San Francisco, CA     8
Rochester, NY               7
Palo Alto, CA               7
Salt Lake City, UT          6
Name: Location, dtype: int64

# fetch only NY loction jobs

In [22]:
df.groupby('Location').get_group('New York, NY')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,86,143,114.5,NY,23,data scientist
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 - 200,2009,Company - Private,Internet,Information Technology,120,160,140.0,NY,12,data scientist
61,Data Scientist,$84K-$146K (Glassdoor est.),USEReady is looking for 2-3 Data Scientist to ...,4.3,USEReady\n4.3,"New York, NY","New York, NY",201 - 500,2011,Company - Private,Consulting,Business Services,84,146,115.0,NY,10,data scientist
100,Data Scientist,$89K-$153K (Glassdoor est.),The Data Scientist will be joining a team of e...,3.8,7Park Data\n3.8,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Research & Development,Business Services,89,153,121.0,NY,9,data scientist
112,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 - 200,2009,Company - Private,Internet,Information Technology,120,160,140.0,NY,12,data scientist
135,Data Scientist/ML Engineer,$71K-$123K (Glassdoor est.),Data Scientist/ML Engineer\n\nApply Now\n\nBec...,3.4,PA Consulting\n3.4,"New York, NY","London, United Kingdom",1001 - 5000,1943,Company - Private,Consulting,Business Services,71,123,97.0,NY,78,data scientist
179,Sr. Data Scientist II,$111K-$183K (Glassdoor est.),Data Scientist\n\nBefore the dawn of everythin...,3.4,Argo Group US\n3.4,"New York, NY","Hamilton, Bermuda",1001 - 5000,1948,Company - Public,Insurance Carriers,Insurance,111,183,147.0,NY,73,data scientist
209,"Business Data Analyst, SQL",$44K-$86K (Glassdoor est.),Fareportal is looking for a Business Data Anal...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,44,86,65.0,NY,19,analyst
233,Data & Analytics Consultant (NYC),$91K-$138K (Glassdoor est.),WHO WE LOOK FOR\n\nAn SEI Consultant is a mast...,4.7,Systems Evolution Inc.\n4.7,"New York, NY","Cincinnati, OH",201 - 500,1992,Company - Private,Consulting,Business Services,91,138,114.5,NY,29,data analitics
272,Sr. Data Scientist II,$111K-$183K (Glassdoor est.),Data Scientist\n\nBefore the dawn of everythin...,3.4,Argo Group US\n3.4,"New York, NY","Hamilton, Bermuda",1001 - 5000,1948,Company - Public,Insurance Carriers,Insurance,111,183,147.0,NY,73,data scientist
277,Data Scientist,$95K-$161K (Glassdoor est.),Overview\n\n\nAt Sotheby’s we use data science...,3.6,Sotheby's\n3.6,"New York, NY","New York, NY",1001 - 5000,1744,Company - Public,Auctions & Galleries,Retail,95,161,128.0,NY,277,data scientist
340,Data Engineer,$43K-$86K (Glassdoor est.),"Overview:\n\nGuidepoint Data identifies, gathe...",3.2,Guidepoint\n3.2,"New York, NY","New York, NY",501 - 1000,2003,Company - Private,Research & Development,Business Services,43,86,64.5,NY,18,data engineer
349,Senior Data Scientist - R&D Oncology,$102K-$172K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",3.9,AstraZeneca\n3.9,"New York, NY","Cambridge, United Kingdom",10000+,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,102,172,137.0,NY,108,data scientist
375,"Senior Manager, Epidemiologic Data Scientist",$125K-$210K (Glassdoor est.),"ROLE SUMMARY\n\nThe Senior Manager, Epidemiolo...",4.0,Pfizer\n4.0,"New York, NY","New York, NY",10000+,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,125,210,167.5,NY,172,data scientist
378,"Marketing Data Analyst, May 2020 Undergrad",$44K-$86K (Glassdoor est.),Fareportal is seeking a Marketing Data Analyst...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,44,86,65.0,NY,19,analyst
380,Senior Data Analyst,$65K-$110K (Glassdoor est.),Moda Operandi is an e-commerce platform transf...,1.9,Moda Operandi\n1.9,"New York, NY","New York, NY",201 - 500,2010,Company - Private,"Department, Clothing, & Shoe Stores",Retail,65,110,87.5,NY,11,analyst
420,Associate Machine Learning Engineer / Data Sci...,$53K-$96K (Glassdoor est.),(We are unable to sponsor for this role or in ...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,53,96,74.5,NY,19,data scientist
437,Data Scientist,$94K-$162K (Glassdoor est.),REF#: 36469\n\nCBS BUSINESS UNIT: CBS Interact...,3.5,CBS Interactive\n3.5,"New York, NY","San Francisco, CA",1001 - 5000,1992,Subsidiary or Business Segment,TV Broadcast & Cable Networks,Media,94,162,128.0,NY,29,data scientist
454,"Data Analyst, Performance Partnership",$54K-$92K (Glassdoor est.),"Beckman Coulter Diagnostics, an operating comp...",3.6,Beckman Coulter Diagnostics\n3.6,"New York, NY","Brea, CA",10000+,1935,Subsidiary or Business Segment,Health Care Products Manufacturing,Manufacturing,54,92,73.0,NY,86,analyst
455,Data Scientist,$61K-$100K (Glassdoor est.),Who we are:\n\n\nautomotiveMastermind currentl...,3.5,IHS Markit\n3.5,"New York, NY","London, United Kingdom",10000+,2016,Company - Public,Consulting,Business Services,61,100,80.5,NY,5,data scientist
456,Data Scientist,$81K-$140K (Glassdoor est.),"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",unknown,-1,Company - Private,-1,-1,81,140,110.5,NY,-1,data scientist
459,Data Scientist,$112K-$179K (Glassdoor est.),"Hi,\n\nGreetings of the Day!!!\n\nLooking for ...",4.8,TechProjects\n4.8,"New York, NY","North Brunswick, NJ",Jan-50,2011,Company - Private,IT Services,Information Technology,112,179,145.5,NY,10,data scientist
460,Data Scientist,$63K-$111K (Glassdoor est.),Job Description\n\nAbout the Role: This is a r...,4.0,Biz2Credit Inc\n4.0,"New York, NY","New York, NY",201 - 500,2007,Company - Private,Lending,Finance,63,111,87.0,NY,14,data scientist
462,Data Scientist Manager,$110K-$184K (Glassdoor est.),5-10 years professional work experience as a d...,3.8,Capgemini\n3.8,"New York, NY","Paris, France",10000+,1967,Company - Public,Enterprise Software & Network Solutions,Information Technology,110,184,147.0,NY,54,data scientist
463,Data Engineer,$76K-$145K (Glassdoor est.),Data Engineer\n\nJob Details\nLevel\nExperienc...,3.7,GNY Insurance Companies\n3.7,"New York, NY","New York, NY",201 - 500,1914,Company - Private,Insurance Carriers,Insurance,76,145,110.5,NY,107,data engineer
466,Senior Data Scientist,$94K-$153K (Glassdoor est.),Medidata: Conquering Diseases Together\n\nMedi...,4.3,Medidata Solutions\n4.3,"New York, NY","New York, NY",1001 - 5000,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,94,153,123.5,NY,22,data scientist
474,Senior Data Scientist - Algorithms,$150K-$180K (Glassdoor est.),Company Description: Quartet is a pioneering h...,3.9,Quartet Health\n3.9,"New York, NY","New York, NY",201 - 500,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,150,180,165.0,NY,7,data scientist
477,Data Analyst,$42K-$77K (Glassdoor est.),The mission of Success Academies is to reimagi...,3.1,Success Academy Charter Schools\n3.1,"New York, NY","New York, NY",1001 - 5000,2006,School / School District,K-12 Education,Education,42,77,59.5,NY,15,analyst
481,Data Analyst,$47K-$85K (Glassdoor est.),The Data Analyst is responsible for maintainin...,3.6,AXION Healthcare Solutions\n3.6,"New York, NY","New York, NY",Jan-50,1980,Company - Private,Health Care Services & Hospitals,Health Care,47,85,66.0,NY,41,analyst
483,Data Scientist,$56K-$95K (Glassdoor est.),"ExecOnline is a fast-growing, venture-backed e...",4.2,ExecOnline\n4.2,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Education Training Services,Education,56,95,75.5,NY,9,data scientist
496,Data Scientist - Alpha Insights,$129K-$215K (Glassdoor est.),Two Sigma is a different kind of investment ma...,4.4,Two Sigma\n4.4,"New York, NY","New York, NY",1001 - 5000,2001,Company - Private,Investment Banking & Asset Management,Finance,129,215,172.0,NY,20,data scientist
500,Data Engineer,$43K-$86K (Glassdoor est.),"Overview:\n\nGuidepoint Data identifies, gathe...",3.2,Guidepoint\n3.2,"New York, NY","New York, NY",501 - 1000,2003,Company - Private,Research & Development,Business Services,43,86,64.5,NY,18,data engineer
502,Data Scientist,$71K-$124K (Glassdoor est.),Overview\n\n\nDo you love numbers and finding ...,4.0,Strategic Financial Solutions\n4.0,"New York, NY","New York, NY",501 - 1000,2007,Company - Private,Consumer Product Rental,Consumer Services,71,124,97.5,NY,14,data scientist
505,Data Scientist,$69K-$121K (Glassdoor est.),"DS/ML stack:\nLanguages: Python, Spark, SQL\nA...",3.4,"Remedy BPCI Partners, LLC.\n3.4","New York, NY","Norwalk, CT",201 - 500,2011,Company - Private,Health Care Services & Hospitals,Health Care,69,121,95.0,NY,10,data scientist
508,Data Scientist,$77K-$132K (Glassdoor est.),"Crossix is seeking intellectually curious, res...",3.5,Crossix Solutions\n3.5,"New York, NY","New York, NY",201 - 500,2005,Company - Public,Advertising & Marketing,Business Services,77,132,104.5,NY,16,data scientist
516,Lead Data Analyst,$32K-$62K (Glassdoor est.),JOB DESCRIPTION:\n\nSignpost is looking for a ...,3.9,Signpost\n3.9,"New York, NY","New York, NY",201 - 500,2010,Company - Private,Internet,Information Technology,32,62,47.0,NY,11,analyst
519,Senior Data Scientist - R&D Oncology,$102K-$172K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",3.9,AstraZeneca\n3.9,"New York, NY","Cambridge, United Kingdom",10000+,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,102,172,137.0,NY,108,data scientist
529,Machine Learning Engineer,$91K-$159K (Glassdoor est.),We are seeking a highly-experienced ML Enginee...,3.2,Information Builders\n3.2,"New York, NY","New York, NY",1001 - 5000,1975,Company - Private,Computer Hardware & Software,Information Technology,91,159,125.0,NY,46,machine learning engineer
539,Business Data Analyst,$36K-$71K (Glassdoor est.),(We are unable to sponsor for this role now or...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,36,71,53.5,NY,19,analyst
565,"Senior Manager, Epidemiologic Data Scientist",$125K-$210K (Glassdoor est.),"ROLE SUMMARY\n\nThe Senior Manager, Epidemiolo...",4.0,Pfizer\n4.0,"New York, NY","New York, NY",10000+,1849,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,125,210,167.5,NY,172,data scientist
566,"Marketing Data Analyst, May 2020 Undergrad",$44K-$86K (Glassdoor est.),Fareportal is seeking a Marketing Data Analyst...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,44,86,65.0,NY,19,analyst
568,Senior Data Analyst,$65K-$110K (Glassdoor est.),Moda Operandi is an e-commerce platform transf...,1.9,Moda Operandi\n1.9,"New York, NY","New York, NY",201 - 500,2010,Company - Private,"Department, Clothing, & Shoe Stores",Retail,65,110,87.5,NY,11,analyst
574,Data Scientist,$84K-$146K (Glassdoor est.),USEReady is looking for 2-3 Data Scientist to ...,4.3,USEReady\n4.3,"New York, NY","New York, NY",201 - 500,2011,Company - Private,Consulting,Business Services,84,146,115.0,NY,10,data scientist
632,Sr. Data Analyst,$58K-$108K (Glassdoor est.),Senior Data Analyst - Engineering\n\nLocation:...,3.2,DoubleVerify\n3.2,"New York, NY","New York, NY",201 - 500,2008,Company - Private,Internet,Information Technology,58,108,83.0,NY,13,analyst
634,Associate Machine Learning Engineer / Data Sci...,$53K-$96K (Glassdoor est.),(We are unable to sponsor for this role or in ...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,53,96,74.5,NY,19,data scientist
654,Data Analyst,$47K-$85K (Glassdoor est.),The Data Analyst is responsible for maintainin...,3.6,AXION Healthcare Solutions\n3.6,"New York, NY","New York, NY",Jan-50,1980,Company - Private,Health Care Services & Hospitals,Health Care,47,85,66.0,NY,41,analyst
657,Data Scientist,$56K-$95K (Glassdoor est.),"ExecOnline is a fast-growing, venture-backed e...",4.2,ExecOnline\n4.2,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Education Training Services,Education,56,95,75.5,NY,9,data scientist
677,Data Scientist,$69K-$121K (Glassdoor est.),"DS/ML stack:\nLanguages: Python, Spark, SQL\nA...",3.4,"Remedy BPCI Partners, LLC.\n3.4","New York, NY","Norwalk, CT",201 - 500,2011,Company - Private,Health Care Services & Hospitals,Health Care,69,121,95.0,NY,10,data scientist
678,Data Scientist,$71K-$124K (Glassdoor est.),Overview\n\n\nDo you love numbers and finding ...,4.0,Strategic Financial Solutions\n4.0,"New York, NY","New York, NY",501 - 1000,2007,Company - Private,Consumer Product Rental,Consumer Services,71,124,97.5,NY,14,data scientist
684,Data Scientist,$77K-$132K (Glassdoor est.),"Crossix is seeking intellectually curious, res...",3.5,Crossix Solutions\n3.5,"New York, NY","New York, NY",201 - 500,2005,Company - Public,Advertising & Marketing,Business Services,77,132,104.5,NY,16,data scientist
695,Data Architect / Data Modeler,$63K-$110K (Glassdoor est.),Medidata: Conquering Diseases Together\n\nMedi...,4.3,Medidata Solutions\n4.3,"New York, NY","New York, NY",1001 - 5000,1999,Company - Public,Enterprise Software & Network Solutions,Information Technology,63,110,86.5,NY,22,data modeler
697,Lead Data Analyst,$32K-$62K (Glassdoor est.),JOB DESCRIPTION:\n\nSignpost is looking for a ...,3.9,Signpost\n3.9,"New York, NY","New York, NY",201 - 500,2010,Company - Private,Internet,Information Technology,32,62,47.0,NY,11,analyst
702,Senior Data Scientist - R&D Oncology,$102K-$172K (Glassdoor est.),"At AstraZeneca,we work together to deliver inn...",3.9,AstraZeneca\n3.9,"New York, NY","Cambridge, United Kingdom",10000+,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,102,172,137.0,NY,108,data scientist
709,Machine Learning Engineer,$91K-$159K (Glassdoor est.),We are seeking a highly-experienced ML Enginee...,3.2,Information Builders\n3.2,"New York, NY","New York, NY",1001 - 5000,1975,Company - Private,Computer Hardware & Software,Information Technology,91,159,125.0,NY,46,machine learning engineer
721,Business Data Analyst,$36K-$71K (Glassdoor est.),(We are unable to sponsor for this role now or...,3.8,Fareportal\n3.8,"New York, NY","New York, NY",1001 - 5000,2002,Company - Private,Travel Agencies,Travel & Tourism,36,71,53.5,NY,19,analyst

# fetch Data Scientist jobs for NY loction

In [23]:
df.groupby(['Job Title','Location']).get_group(('Data Scientist','New York, NY'))

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,86,143,114.5,NY,23,data scientist
9,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 - 200,2009,Company - Private,Internet,Information Technology,120,160,140.0,NY,12,data scientist
61,Data Scientist,$84K-$146K (Glassdoor est.),USEReady is looking for 2-3 Data Scientist to ...,4.3,USEReady\n4.3,"New York, NY","New York, NY",201 - 500,2011,Company - Private,Consulting,Business Services,84,146,115.0,NY,10,data scientist
100,Data Scientist,$89K-$153K (Glassdoor est.),The Data Scientist will be joining a team of e...,3.8,7Park Data\n3.8,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Research & Development,Business Services,89,153,121.0,NY,9,data scientist
112,Data Scientist,$120K-$160K (Glassdoor est.),isn’t your usual company. Our work is powered ...,4.6,<intent>\n4.6,"New York, NY","New York, NY",51 - 200,2009,Company - Private,Internet,Information Technology,120,160,140.0,NY,12,data scientist
277,Data Scientist,$95K-$161K (Glassdoor est.),Overview\n\n\nAt Sotheby’s we use data science...,3.6,Sotheby's\n3.6,"New York, NY","New York, NY",1001 - 5000,1744,Company - Public,Auctions & Galleries,Retail,95,161,128.0,NY,277,data scientist
437,Data Scientist,$94K-$162K (Glassdoor est.),REF#: 36469\n\nCBS BUSINESS UNIT: CBS Interact...,3.5,CBS Interactive\n3.5,"New York, NY","San Francisco, CA",1001 - 5000,1992,Subsidiary or Business Segment,TV Broadcast & Cable Networks,Media,94,162,128.0,NY,29,data scientist
455,Data Scientist,$61K-$100K (Glassdoor est.),Who we are:\n\n\nautomotiveMastermind currentl...,3.5,IHS Markit\n3.5,"New York, NY","London, United Kingdom",10000+,2016,Company - Public,Consulting,Business Services,61,100,80.5,NY,5,data scientist
456,Data Scientist,$81K-$140K (Glassdoor est.),"As a Data Scientist, you will play a critical ...",-1.0,ALIN,"New York, NY","Noida, India",unknown,-1,Company - Private,-1,-1,81,140,110.5,NY,-1,data scientist
459,Data Scientist,$112K-$179K (Glassdoor est.),"Hi,\n\nGreetings of the Day!!!\n\nLooking for ...",4.8,TechProjects\n4.8,"New York, NY","North Brunswick, NJ",Jan-50,2011,Company - Private,IT Services,Information Technology,112,179,145.5,NY,10,data scientist
460,Data Scientist,$63K-$111K (Glassdoor est.),Job Description\n\nAbout the Role: This is a r...,4.0,Biz2Credit Inc\n4.0,"New York, NY","New York, NY",201 - 500,2007,Company - Private,Lending,Finance,63,111,87.0,NY,14,data scientist
483,Data Scientist,$56K-$95K (Glassdoor est.),"ExecOnline is a fast-growing, venture-backed e...",4.2,ExecOnline\n4.2,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Education Training Services,Education,56,95,75.5,NY,9,data scientist
502,Data Scientist,$71K-$124K (Glassdoor est.),Overview\n\n\nDo you love numbers and finding ...,4.0,Strategic Financial Solutions\n4.0,"New York, NY","New York, NY",501 - 1000,2007,Company - Private,Consumer Product Rental,Consumer Services,71,124,97.5,NY,14,data scientist
505,Data Scientist,$69K-$121K (Glassdoor est.),"DS/ML stack:\nLanguages: Python, Spark, SQL\nA...",3.4,"Remedy BPCI Partners, LLC.\n3.4","New York, NY","Norwalk, CT",201 - 500,2011,Company - Private,Health Care Services & Hospitals,Health Care,69,121,95.0,NY,10,data scientist
508,Data Scientist,$77K-$132K (Glassdoor est.),"Crossix is seeking intellectually curious, res...",3.5,Crossix Solutions\n3.5,"New York, NY","New York, NY",201 - 500,2005,Company - Public,Advertising & Marketing,Business Services,77,132,104.5,NY,16,data scientist
574,Data Scientist,$84K-$146K (Glassdoor est.),USEReady is looking for 2-3 Data Scientist to ...,4.3,USEReady\n4.3,"New York, NY","New York, NY",201 - 500,2011,Company - Private,Consulting,Business Services,84,146,115.0,NY,10,data scientist
657,Data Scientist,$56K-$95K (Glassdoor est.),"ExecOnline is a fast-growing, venture-backed e...",4.2,ExecOnline\n4.2,"New York, NY","New York, NY",51 - 200,2012,Company - Private,Education Training Services,Education,56,95,75.5,NY,9,data scientist
677,Data Scientist,$69K-$121K (Glassdoor est.),"DS/ML stack:\nLanguages: Python, Spark, SQL\nA...",3.4,"Remedy BPCI Partners, LLC.\n3.4","New York, NY","Norwalk, CT",201 - 500,2011,Company - Private,Health Care Services & Hospitals,Health Care,69,121,95.0,NY,10,data scientist
678,Data Scientist,$71K-$124K (Glassdoor est.),Overview\n\n\nDo you love numbers and finding ...,4.0,Strategic Financial Solutions\n4.0,"New York, NY","New York, NY",501 - 1000,2007,Company - Private,Consumer Product Rental,Consumer Services,71,124,97.5,NY,14,data scientist
684,Data Scientist,$77K-$132K (Glassdoor est.),"Crossix is seeking intellectually curious, res...",3.5,Crossix Solutions\n3.5,"New York, NY","New York, NY",201 - 500,2005,Company - Public,Advertising & Marketing,Business Services,77,132,104.5,NY,16,data scientist

# How many total no of Headquarters are available?

In [24]:
df.Headquarters.nunique()

198

# At which place more no of Headquarters available?

In [25]:
df.Headquarters.value_counts().head(1)

New York, NY    52
Name: Headquarters, dtype: int64

# Fetch top 20 Companies and thier location which have highest no of employees?

In [26]:
p=df.Size.unique()
p.sort()
print(p)

['10000+ ' '1001 - 5000 ' '201 - 500 ' '5001 - 10000 ' '501 - 1000 '
 '51 - 200 ' 'Jan-50' 'unknown']

In [27]:
df.groupby('Size').get_group('10000+ ')[['Company Name','Location']].head(20)

                                     Company Name         Location
1      University of Maryland Medical System\n3.4    Linthicum, MD
8                  Rochester Regional Health\n3.3    Rochester, NY
12                                   Walmart\n3.2        Plano, TX
14                    Takeda Pharmaceuticals\n3.7    Cambridge, MA
25                                    Pfizer\n4.0    Cambridge, MA
28                                    Pfizer\n4.0       Groton, CT
32                                  Novartis\n3.8    Cambridge, MA
46                                 Visa Inc.\n3.7     Bellevue, WA
49                               Caterpillar\n3.7       Peoria, IL
51                  Liberty Mutual Insurance\n3.3       Boston, MA
53                                  Swiss Re\n3.7       Armonk, NY
54                          Northrop Grumman\n3.7    San Diego, CA
64         DICK'S Sporting Goods - Corporate\n3.8   Coraopolis, PA
69                                   HP Inc.\n4.0    Vancouver, WA
71                                  Grainger\n3.6  Lake Forest, IL
75                                   HP Inc.\n4.0    Vancouver, WA
79                                   Pactera\n4.4     San Jose, CA
86                                   Walmart\n3.2        Plano, TX
95   General Dynamics Information Technology\n3.4     Suitland, MD
105            American Axle & Manufacturing\n3.3   Southfield, MI

# Newly launched top 20 companies

In [28]:
df.Founded.unique()

array([1973, 1984, 2010, 1965, 1998, 2000, 2008, 2005, 2014, 2009, 2011,
       1968, 1962, 2012, 1781, 1995, 1915, 2013, 1935, 1849, 1952, 1852,
       1997, 1996, 1974, 1969, 1870, 1985,   -1, 2015, 1993, 1958, 1986,
       1999, 1925, 1912, 2002, 1863, 1939, 2016, 1885, 2006, 1948, 2003,
       1927, 1978, 1860, 2017, 1942, 1990, 1988, 2001, 2007, 1992, 1994,
       1977, 2019, 1982, 1937, 1878, 1966, 1971, 1943, 1987, 1945, 1846,
       1851, 1976, 1981, 1970, 1951, 1967, 1961, 1964, 1930, 1917, 1883,
       1887, 2004, 1850, 1902, 1744, 1929, 1947, 1991, 1989, 1928, 1875,
       1913, 1972, 1856, 1983, 1922, 1812, 1914, 1980, 1954, 1830, 1975,
       1899, 1979, 1889], dtype=int64)

In [29]:
df.sort_values('Founded').tail(20)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
367,"Associate Scientist, LC/MS Biologics",$44K-$96K (Glassdoor est.),Q2 Solutions is a leading clinical trial labor...,2.9,Q2 Solutions\n2.9,"Ithaca, NY","Morrisville, NC",1001 - 5000,2015,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,44,96,70.0,NY,6,other scientist
423,Data Scientist,$111K-$176K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 - 200,2016,Company - Private,IT Services,Information Technology,111,176,143.5,MO,5,data scientist
57,Data Scientist,$111K-$176K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 - 200,2016,Company - Private,IT Services,Information Technology,111,176,143.5,MO,5,data scientist
455,Data Scientist,$61K-$100K (Glassdoor est.),Who we are:\n\n\nautomotiveMastermind currentl...,3.5,IHS Markit\n3.5,"New York, NY","London, United Kingdom",10000+,2016,Company - Public,Consulting,Business Services,61,100,80.5,NY,5,data scientist
80,Data Scientist,$94K-$154K (Glassdoor est.),Nurx is looking for a Data Scientist who loves...,3.9,Nurx\n3.9,"San Francisco, CA","San Francisco, CA",51 - 200,2016,Company - Private,Health Care Services & Hospitals,Health Care,94,154,124.0,CA,5,data scientist
430,Data Scientist,$92K-$149K (Glassdoor est.),"As Scale’s first data scientist, you will lead...",3.5,Scale AI\n3.5,"San Francisco, CA","San Francisco, CA",51 - 200,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,92,149,120.5,CA,5,data scientist
266,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 - 200,2017,Company - Private,IT Services,Information Technology,200,250,225.0,CA,4,data scientist
450,Senior Data Scientist,$95K-$154K (Glassdoor est.),"Req Id: 2475\nJob location: Charlotte, NC, US,...",3.5,Brighthouse Financial\n3.5,"Charlotte, NC","Charlotte, NC",1001 - 5000,2017,Company - Public,Insurance Carriers,Insurance,95,154,124.5,NC,4,data scientist
553,"Principal, Data Science - Advanced Analytics",$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Plymouth Meeting, PA","Durham, NC",10000+,2017,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,86,137,111.5,PA,4,data scientist
736,"Principal, Data Science - Advanced Analytics",$86K-$137K (Glassdoor est.),IQVIA is the leading human data science compan...,3.6,IQVIA\n3.6,"Plymouth Meeting, PA","Durham, NC",10000+,2017,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,86,137,111.5,PA,4,data scientist
246,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 - 10000,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,35,49,42.0,PA,4,other scientist
320,Senior Data Scientist,$95K-$154K (Glassdoor est.),"Req Id: 2475\nJob location: Charlotte, NC, US,...",3.5,Brighthouse Financial\n3.5,"Charlotte, NC","Charlotte, NC",1001 - 5000,2017,Company - Public,Insurance Carriers,Insurance,95,154,124.5,NC,4,data scientist
78,Data Scientist,$83K-$137K (Glassdoor est.),Overview\n\n\nPeraton is seeking a Senior Data...,3.3,Peraton\n3.3,"Chantilly, VA","Herndon, VA",1001 - 5000,2017,Company - Private,Aerospace & Defense,Aerospace & Defense,83,137,110.0,VA,4,data scientist
138,Data Engineer,Employer Provided Salary:$120K-$145K,"Location: Tampa, FL\nTitle: Data Engineer\nTS/...",5.0,Gridiron IT\n5.0,"Tampa, FL","Reston, VA",51 - 200,2017,Company - Private,IT Services,Information Technology,120,145,132.5,FL,4,data engineer
165,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\n\nAbout\n\n\nTower Health is a stron...,3.6,Tower Health\n3.6,"West Reading, PA","Reading, PA",5001 - 10000,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,35,49,42.0,PA,4,other scientist
176,Principal Data Scientist with over 10 years ex...,Employer Provided Salary:$200K-$250K,Position Title: Principal Data Scientist\nLoca...,-1.0,CA-One Tech Cloud,"San Francisco, CA","Fremont, CA",51 - 200,2017,Company - Private,IT Services,Information Technology,200,250,225.0,CA,4,data scientist
587,Big Data Engineer,$84K-$153K (Glassdoor est.),Overview\n\n\nTechnology is constantly changin...,3.3,Peraton\n3.3,"Chantilly, VA","Herndon, VA",1001 - 5000,2017,Company - Private,Aerospace & Defense,Aerospace & Defense,84,153,118.5,VA,4,data engineer
127,Data Analytics Manager,$26K-$55K (Glassdoor est.),About You:\nWe are looking for a dedicated and...,3.8,Full Potential Solutions\n3.8,"Kansas City, MO","Kansas City, MO",501 - 1000,2017,Company - Private,Staffing & Outsourcing,Business Services,26,55,40.5,MO,4,Data scientist project manager
110,Data Engineer,$54K-$102K (Glassdoor est.),Sapphire Digital seeks a dynamic and driven mi...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 - 500,2019,Company - Private,Internet,Information Technology,54,102,78.0,NJ,2,data engineer
229,Data Scientist,$66K-$111K (Glassdoor est.),About U.Group\nU.Group is an advanced technolo...,3.5,U.Group\n3.5,"Indianapolis, IN","Arlington, VA",201 - 500,2019,Company - Private,IT Services,Information Technology,66,111,88.5,IN,2,data scientist

# Which type of ownership have of all companies

In [31]:
df['Type of ownership'].unique()

array(['Company - Private', 'Other Organization', 'Government',
       'Company - Public', 'Hospital', 'Subsidiary or Business Segment',
       'Nonprofit Organization', 'College / University',
       'School / School District'], dtype=object)

# Fetch data for government companies

In [32]:
df.groupby('Type of ownership').get_group('Government')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
30,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
63,Data Scientist in Artificial Intelligence Earl...,$49K-$85K (Glassdoor est.),*Organization and Job ID**\nJob ID:\n\nDirecto...,3.8,Pacific Northwest National Laboratory\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",49,85,67.0,WA,56,data scientist
144,Data Scientist - Bioinformatics,$49K-$85K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310433\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",49,85,67.0,WA,56,data scientist
149,Senior Data Scientist Statistics,$74K-$123K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310566\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",74,123,98.5,WA,56,data scientist
166,"Risk and Analytics IT, Data Scientist",$91K-$149K (Glassdoor est.),OUR AGENCY\n\nMaking a Difference\n\nSWIB is a...,2.7,State of Wisconsin Investment Board\n2.7,"Madison, WI","Madison, WI",51 - 200,1951,Government,Investment Banking & Asset Management,Finance,91,149,120.0,WI,70,data scientist
210,Medical Technologist / Clinical Laboratory Sci...,$15-$25 Per Hour(Glassdoor est.),The incumbent performs a broad range of labora...,3.4,"Veterans Affairs, Veterans Health Administrati...","New Orleans, LA","Washington, DC",10000+,1930,Government,Federal Agencies,Government,31,52,41.5,LA,91,other scientist
242,"Risk and Analytics IT, Data Scientist",$91K-$149K (Glassdoor est.),OUR AGENCY\n\nMaking a Difference\n\nSWIB is a...,2.7,State of Wisconsin Investment Board\n2.7,"Madison, WI","Madison, WI",51 - 200,1951,Government,Investment Banking & Asset Management,Finance,91,149,120.0,WI,70,data scientist
308,Computational Chemist/Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310562\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
401,Senior Data Scientist Artificial Intelligence,$60K-$101K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310481\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",60,101,80.5,WA,56,data scientist
407,Senior Data Scientist 4 Artificial Intelligence,$92K-$146K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310468\n\n...,3.8,PNNL\n3.8,"Seattle, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",92,146,119.0,WA,56,data scientist
426,Computational Chemist/Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310562\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",56,97,76.5,WA,56,data scientist
605,Senior Data Scientist Artificial Intelligence,$60K-$101K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310481\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",60,101,80.5,WA,56,data scientist
614,Senior Data Scientist 4 Artificial Intelligence,$92K-$146K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310468\n\n...,3.8,PNNL\n3.8,"Seattle, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",92,146,119.0,WA,56,data scientist
651,Data Scientist in Artificial Intelligence Earl...,$49K-$85K (Glassdoor est.),*Organization and Job ID**\nJob ID:\n\nDirecto...,3.8,Pacific Northwest National Laboratory\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",49,85,67.0,WA,56,data scientist

# How many industry type available

In [33]:
df.Industry.unique()

array(['Aerospace & Defense', 'Health Care Services & Hospitals',
       'Security Services', 'Energy', 'Advertising & Marketing',
       'Real Estate', 'Banks & Credit Unions', 'Consulting', 'Internet',
       'Other Retail Stores', 'Research & Development',
       'Department, Clothing, & Shoe Stores', 'Biotech & Pharmaceuticals',
       'Motion Picture Production & Distribution',
       'Enterprise Software & Network Solutions', 'Insurance Carriers',
       'Insurance Agencies & Brokerages', 'Logistics & Supply Chain',
       'Telecommunications Services', 'IT Services',
       'Computer Hardware & Software', '-1',
       'Consumer Products Manufacturing', 'Industrial Manufacturing',
       'Metals Brokers', 'Financial Transaction Processing',
       'Sporting Goods Stores', 'Staffing & Outsourcing', 'Wholesale',
       'Mining', 'Financial Analytics & Research', 'Federal Agencies',
       'Education Training Services',
       'Transportation Equipment Manufacturing', 'Farm Support Services',
       'TV Broadcast & Cable Networks',
       'Architectural & Engineering Services', 'Brokerage Services',
       'Travel Agencies', 'Religious Organizations',
       'Colleges & Universities', 'Investment Banking & Asset Management',
       'Lending', 'Gambling', 'Food & Beverage Manufacturing',
       'Gas Stations', 'Transportation Management', 'Video Games',
       'Trucking', 'Social Assistance', 'Auctions & Galleries',
       'K-12 Education', 'Telecommunications Manufacturing',
       'Stock Exchanges', 'Construction', 'Accounting',
       'Health Care Products Manufacturing', 'Health, Beauty, & Fitness',
       'Consumer Product Rental', 'Beauty & Personal Accessories Stores'],
      dtype=object)

# I want industrial manufacturing companies

In [34]:
df.groupby('Industry').get_group('Industrial Manufacturing')

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
49,College Hire - Data Scientist - Open to Decemb...,$63K-$99K (Glassdoor est.),Description\n\nCaterpillar's legacy of industr...,3.7,Caterpillar\n3.7,"Peoria, IL","Deerfield, IL",10000+,1925,Company - Public,Industrial Manufacturing,Manufacturing,63,99,81.0,IL,96,data scientist
126,Data Scientist,$82K-$133K (Glassdoor est.),"For more than 50 years, Accuride International...",3.6,Accuride International\n3.6,"Santa Fe Springs, Los Angeles, CA","Santa Fe Springs, CA",1001 - 5000,1966,Company - Private,Industrial Manufacturing,Manufacturing,82,133,107.5,CA,55,data scientist
269,Data Engineer I - Azure,$54K-$101K (Glassdoor est.),You’re not likely to find another company like...,3.9,Vermeer\n3.9,"Pella, IA","Pella, IA",1001 - 5000,1948,Company - Private,Industrial Manufacturing,Manufacturing,54,101,77.5,IA,73,data engineer
398,College Hire - Data Scientist - Open to Decemb...,$63K-$99K (Glassdoor est.),Description\n\nCaterpillar's legacy of industr...,3.7,Caterpillar\n3.7,"Peoria, IL","Deerfield, IL",10000+,1925,Company - Public,Industrial Manufacturing,Manufacturing,63,99,81.0,IL,96,data scientist

# Show unique sectors of all companies

In [35]:
df.Sector.unique()

array(['Aerospace & Defense', 'Health Care', 'Business Services',
       'Oil, Gas, Energy & Utilities', 'Real Estate', 'Finance',
       'Information Technology', 'Retail', 'Biotech & Pharmaceuticals',
       'Media', 'Insurance', 'Transportation & Logistics',
       'Telecommunications', '-1', 'Manufacturing', 'Mining & Metals',
       'Government', 'Education', 'Agriculture & Forestry',
       'Travel & Tourism', 'Non-Profit',
       'Arts, Entertainment & Recreation',
       'Construction, Repair & Maintenance', 'Accounting & Legal',
       'Consumer Services'], dtype=object)

# Top 10 companies which completed more no of years

In [38]:
df.loc[:].sort_values('Age',ascending=False).head(10)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Lower Salary,Upper Salary,Avg Salary(K),Job Location,Age,job_title_sim
277,Data Scientist,$95K-$161K (Glassdoor est.),Overview\n\n\nAt Sotheby’s we use data science...,3.6,Sotheby's\n3.6,"New York, NY","New York, NY",1001 - 5000,1744,Company - Public,Auctions & Galleries,Retail,95,161,128.0,NY,277,data scientist
342,"Associate Director, Platform and DevOps- Data ...",$113K-$196K (Glassdoor est.),Job Description\n\n\nAre you looking for a pat...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,113,196,154.5,MA,240,data engineer
676,"Associate Director, Platform and DevOps- Data ...",$113K-$196K (Glassdoor est.),Job Description\n\n\nAre you looking for a pat...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,113,196,154.5,MA,240,data engineer
174,Principal Scientist - Immunologist,$98K-$182K (Glassdoor est.),Job Description\n\n\nOBJECTIVE:\nMake gene the...,3.7,Takeda Pharmaceuticals\n3.7,"Boston, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,98,182,140.0,MA,240,other scientist
270,"Sr. Scientist, Quantitative Translational Scie...",$117K-$206K (Glassdoor est.),Job Description\n\n\nMillennium Pharmaceutical...,3.7,Takeda Pharmaceuticals\n3.7,"Boston, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,117,206,161.5,MA,240,other scientist
14,Data Scientist,$83K-$144K (Glassdoor est.),Job Description\n\n\nTakeda is looking for a D...,3.7,Takeda Pharmaceuticals\n3.7,"Cambridge, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,83,144,113.5,MA,240,data scientist
178,"Sr. Scientist, Quantitative Translational Scie...",$117K-$206K (Glassdoor est.),Job Description\n\n\nMillennium Pharmaceutical...,3.7,Takeda Pharmaceuticals\n3.7,"Boston, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,117,206,161.5,MA,240,other scientist
261,Principal Scientist - Immunologist,$98K-$182K (Glassdoor est.),Job Description\n\n\nOBJECTIVE:\nMake gene the...,3.7,Takeda Pharmaceuticals\n3.7,"Boston, MA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,98,182,140.0,MA,240,other scientist
259,Sr. Scientist - Digital & Image Analysis/Compu...,$105K-$198K (Glassdoor est.),Job Description\n\n\nAre you looking for a pat...,3.7,Takeda Pharmaceuticals\n3.7,"San Diego, CA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,105,198,151.5,CA,240,other scientist
172,Sr. Scientist - Digital & Image Analysis/Compu...,$105K-$198K (Glassdoor est.),Job Description\n\n\nAre you looking for a pat...,3.7,Takeda Pharmaceuticals\n3.7,"San Diego, CA","OSAKA, Japan",10000+,1781,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,105,198,151.5,CA,240,other scientist